header, main, footer{
    padding-left: 300px !important;
}

.conteudo {
    margin-left: 300px !important;
}

.titulo {
    padding-left: 20px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0 !important;
    }
}

.input-field label {
    color: #0D47A1;
}
.input-field input[type=text]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field input[type=password]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=password].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=password].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field input[type=email]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=email].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=email].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field .prefix.active {
    color: #0D47A1;
}
