.row {
    margin: 0 !important;
}
.esquerda, .direita {
    min-height: 100vh !important;
    padding: 0 !important;
    padding-top: 150px !important;
}

@media screen and (max-width: 600px) {
    /* MOBILE */
    .esquerda {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    /* MEDIUM */
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* DESKTOP */
}

@media screen and (min-width: 1201px) {
    /* LARGE */
}
.input-field label {
    color: #0D47A1;
}
.input-field input[type=text]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field input[type=password]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=password].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=password].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field input[type=email]:focus + label {
    color: #0D47A1 !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
.input-field input[type=email].valid {
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
.input-field input[type=email].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 darkred;
}
.input-field .prefix.active {
    color: #0D47A1;
}
